*{
    box-sizing: border-box;
}

h2{
    text-align: center;
    color: teal;
    font-weight: bold;
    margin: 5px;
    padding: 10px;
    padding-top: 180px;
}
body {
    background-image: url('https://images.unsplash.com/photo-1519681393784-d120267933ba');  
}

.container{
    border: 1px solid grey;
    border-radius: 10px;
    width: 300px;
    height: 300px;
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
}

form{
    text-decoration: none;
    margin:10px;
    padding: 5px;
}

input{
    margin: 7px;
    padding: 10px;
    border: none;
    outline: none;
    border-bottom: 1px solid black;
    display: flex;
    background-color: transparent;
}

input::placeholder {
    color: white;
}

input:hover{
    border: 1px dotted teal;
    border-radius: 10px;
}

button{
    margin: 5px;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid grey;
    background-color: teal;
    color: white;
    font-weight: bold;
    display: flex;
    justify-content: center;
    height: 33px;
    width: 90px;
    align-content: center;
}
    


input:hover{
    border: 1px dotted teal;
    border-radius: 10px;
}

button{
    margin: 5px;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid grey;
    background-color: teal;
    color: white;
    font-weight: bold;
    display: flex;
    justify-content: center;
    height: 33px;
    width: 90px;
    align-content: center;
}

